<form>
    <mat-form-field>
        <mat-label>Users</mat-label>

        <mat-chip-grid #chipGrid aria-label="User selection">
            @for (user of selectedUsers; track $index) {
            <mat-chip-row (removed)="removeSelectedUser(user.code)">
                {{user.name}}
                <button matChipRemove [attr.aria-label]="'remove ' + user">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
            }
        </mat-chip-grid>

        <input name="user" #userInput [(ngModel)]="user" [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
            (input)="updateFilteredUsers()" />

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="userSelected($event); userInput.value = ''">
            @for (user of filteredUsers; track user) {
            <mat-option [value]="user.code">{{user.name}}</mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Period</mat-label>
        <mat-select panelClass="panel" value="1" [(ngModel)]="weeks" [ngModelOptions]="{standalone: true}">
            <mat-option value="1">Only this week</mat-option>
            <mat-option value="2">From this week to next week</mat-option>
            <mat-option value="3">From this week to 2 weeks in the future</mat-option>
            <mat-option value="4">From this week to 3 weeks in the future</mat-option>
            <mat-option value="5">From this week to 4 weeks in the future</mat-option>
            <mat-option value="6">From this week to 5 weeks in the future</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Sticky Hours</mat-label>
        <mat-select panelClass="panel" value="0" [(ngModel)]="stickyHours" [ngModelOptions]="{standalone: true}">
            <mat-option value="0">No Sticky Hours</mat-option>
            <mat-option value="1">1 Sticky Hour</mat-option>
            <mat-option value="2">2 Sticky Hours</mat-option>
            <mat-option value="3">3 Sticky Hours</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="submit()">Compute</button>
</form>

@if (dates) {
<mat-accordion>
    @for (date of dates; track $index) {
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>{{ displayDatetime(date, {
                weekday: 'long',
                day: 'numeric',
                month: 'long'
                }) }}</mat-panel-title></mat-expansion-panel-header>


        @for (gap of commonFreeHours![date]; track $index) {

        @if (gap.start_slot != gap.end_slot) {
        <p>{{ displayDatetime(gap.start_time * 1000, {timeStyle: 'short'}) }} - {{ displayDatetime(gap.end_time * 1000,
            {timeStyle: 'short'}) }} (hour {{ gap.start_slot }} - {{ gap.end_slot }}, {{displayTimeDelta((gap.end_time -
            gap.start_time))}})</p>
        } @else {
        <p>{{ displayDatetime(gap.start_time * 1000, {timeStyle: 'short'}) }} - {{ displayDatetime(gap.end_time * 1000,
            {timeStyle: 'short'}) }} (hour {{ gap.start_slot }}, {{displayTimeDelta((gap.end_time - gap.start_time))}})
        </p>
        }

        }
    </mat-expansion-panel>
    }
</mat-accordion>
}